/* styling for pages */
:root {
  --primary: #232F3E;
  --secondary: #F3A847;
  --tertiary: #B12704;
  --light: #fafafa;
  --dark: #272f32;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

header {
  background: var(--primary);
}

header a {
  color: var(--light);
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

.visibility {
  display:none;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* Styles for the container */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Styles for the main content */
.main-content {
  flex: 1;
}

/* Styles for the footer */
.footer {
  flex-shrink: 0;
  background-color: #f5f5f5;
  padding: 20px;
} 

.form-title {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  display: block;
}

.form-container {
  border: solid #272f32;
  border-radius: 20px;
  padding: 20px;
  margin:20px 20%;
  display:flex;
  justify-content: center;
  /* text-align: center; */
}

.form-container-2 {
  text-align: center;
}

.form-label {
  font-weight: bold;
  display: block;
  padding: 5px;
}

.form-submit {
  background-color:#F3A847;
  padding: 5px 10px; 
  margin-top: 10px;
  font-weight: bold;
}

.car-form-submit:hover {
  background-color: #F3A847;
}

.none {
  text-align: center;
  padding: 30px
}

.car-list-container {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

.car-list-title {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
}

.car-list-item {
  border: solid #272f32;
  border-radius: 20px;
  padding: 20px;
  margin:10px;
  text-align: center;
}

.car-list-item-header {
  font-weight: bolder;
}

.car-list-item-price {
  color: rgb(11, 90, 11);
  display: flex;
  justify-content: center;
}

.car-list-item-seller {
  display: flex;
  justify-content: center;
}

.car-list-button {
  color: #dd820b;
  display: flex;
  justify-content: center;
}

.car-list-item-order {
  font-weight: bolder;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.signup-login-form {
  text-align: center;
}

.error-text {
  color: var(--error);
}

.big {
  text-align: left;
}

.delete-btn {
  color:red;
}

.delete-btn:hover {
  text-decoration: underline;
}

.about-header {
  text-align: center;
  padding:15px;
  font-weight: bolder;
}

.about-content {
  padding: 0 15px;
  margin: 10px 30px;
}

.contact-header {
  text-align: center;
  padding:15px;
  font-weight: bolder;
}

.contact-content {
  text-align: center;
  padding: 0 15px;
  margin: 10px 30px;
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}
