.footer {
  background-color: var(--primary);

  text-align: center;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 1px;
}

.social-icons {
  margin: 10px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
}

.social-icons img {
  width: 30px; /* Adjust the size of the icons as needed */
  height: 30px;
  border-radius: 50%;
}

.social-icons img:hover {
  transform: scale(1.1);
}
